@font-face {
  font-family: "Rubik";
  src: url("../fonts/static/Rubik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: regular;
  font-style: normal;
  font-size: 16px;
}
* {
  box-sizing: border-box;
  font-family: "Rubik";
}

/* default styles */
main,
section {
  padding: 0 140px;
}
@media (max-width: 640px) {
  main,
section {
    padding: 0 7px;
  }
}
@media (max-width: 768px) {
  main,
section {
    padding: 0 7px;
  }
}
@media (max-width: 1024px) {
  main,
section {
    padding: 0 21px;
  }
}
@media (max-width: 1279px) {
  main,
section {
    padding: 0 21px;
  }
}
@media (min-width: 1280px) {
  main,
section {
    padding: 0 calc(50vw - 590px);
  }
}

.title {
  font-weight: 400;
  font-size: 64px;
}

.btn {
  border: 0;
  border-radius: 0;
  min-width: 196px;
  height: 42px;
  background: #000000;
  padding: 0 21px;
  color: #fff;
  line-height: 26px;
}

a {
  color: black;
  text-decoration: none;
}

/* /default styles */
/* main vacancies-section */
.vacancies-section {
  margin-bottom: 28px;
}
.vacancies-section__title {
  padding-top: 70px;
  margin-bottom: 70px;
}
.vacancies-section__drop-down-menu {
  position: relative;
  width: 40%;
  min-height: 49px;
  margin-bottom: 28px;
}

/* /main vacancies-section */
/* main drop-down-menu */
.drop-down-menu__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-down-menu__form label {
  display: block;
  margin-bottom: 7px;
}
.drop-down-menu__img {
  display: inline;
}
.drop-down-menu__text {
  display: inline;
  margin: 0;
  color: #545454;
  margin: 7px 0;
}
.drop-down-menu__hr {
  margin: 0;
  margin-bottom: 28px;
  border-top: 1.5px solid black;
  width: 100%;
}
.drop-down-menu__list {
  position: absolute;
  width: 100%;
  margin-top: -28px;
  z-index: 10;
  background-color: white;
}
@media (max-width: 640px) {
  .drop-down-menu {
    width: 100%;
  }
}

.click {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

/* /main drop-down-menu */
/* main vacancies */
.vacancies-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 266px;
  border: 1px solid #000000;
  margin-bottom: 28px;
}
.vacancies-block__left-wrapper {
  width: 40%;
  padding: 21px;
}
.vacancies-block__right-wrapper {
  font-family: "Roboto";
  width: 60%;
  padding: 21px;
}
@media (max-width: 640px) {
  .vacancies-block {
    display: block;
  }
  .vacancies-block__left-wrapper {
    width: 100%;
  }
  .vacancies-block__right-wrapper {
    padding: 21px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .vacancies-block {
    display: block;
  }
  .vacancies-block__left-wrapper {
    width: 100%;
  }
  .vacancies-block__right-wrapper {
    padding: 21px;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .vacancies-block {
    display: block;
  }
  .vacancies-block__left-wrapper {
    width: 100%;
  }
  .vacancies-block__right-wrapper {
    padding: 21px;
    width: 100%;
  }
}

/* /main vacancies */
/* main vacancies-section left-wrapper */
.vacancies-card__text {
  margin: 0;
  margin-bottom: 21px;
  line-height: 140%;
}
.vacancies-card__text:last-child {
  margin-bottom: 0;
}
.vacancies-card__label {
  margin-bottom: 21px;
  width: 189px;
  height: 105px;
  object-fit: contain;
}
.vacancies-card__span {
  color: #545454;
}
@media (max-width: 640px) {
  .vacancies-card__label {
    width: 90%;
  }
}

/* /main vacancies-section left-wrapper */
/* main vacancies-section right-wrapper */
.vacancies-info__title {
  margin: 0;
  margin-bottom: 7px;
  font-size: 32px;
}
.vacancies-info__text {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vacancies-info p,
.vacancies-info strong,
.vacancies-info em {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 7px;
}
.vacancies-info ul {
  margin: 0;
  padding-left: 21px;
  line-height: 20px;
  margin-bottom: 21px;
}
.vacancies-info ul li {
  margin-bottom: 7px;
}
.vacancies-info ul strong {
  margin: 0;
  margin-bottom: 7px;
}

/* /main vacancies-section right-wrapper */
/* main vacancies-section right-wrapper btn more/close */
.moreBtn {
  color: #545454;
  font-size: 16px;
  text-align: center;
  margin-top: 7px;
}

.openFullText {
  display: block;
}

/* /main vacancies-section right-wrapper btn more/close */
/* section btn-more-vacancies */
.btn-more-vacancies {
  margin-bottom: 56px;
}
.btn-more-vacancies button {
  margin: 0 auto;
  display: block;
}

/* /section btn-more-vacancies */
/* main and section text style  */
.text_hr {
  margin: 0;
  margin-bottom: 28px;
  width: 80%;
  border-top: 1.5px solid black;
}
@media (max-width: 640px) {
  .text__hr {
    width: 100%;
  }
  .text__input {
    width: 100%;
  }
}

/* main and section text style  */
/* section request-section */
.request-section {
  margin-bottom: 56px;
}
.request-section__title {
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .request-section__title {
    padding-left: 21px;
  }
}

/* /section request-section */
/* section request */
.request {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 297.5px;
}
.request__left-wrapper {
  width: 50%;
  margin-right: 70px;
}
.request__right-wrapper {
  font-family: "Roboto";
  width: 30%;
}
@media (max-width: 640px) {
  .request {
    display: block;
  }
  .request__left-wrapper {
    width: 100%;
    margin-bottom: 70px;
  }
  .request__right-wrapper {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .request {
    display: block;
  }
  .request__left-wrapper {
    width: 100%;
    margin-bottom: 56px;
  }
  .request__right-wrapper {
    width: 100%;
  }
}

.request-form__field {
  margin-right: 70px;
}

.request-info__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 70px;
}
.request-info__contacts {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
  margin-bottom: 7px;
}
.request-info__contacts:last-child {
  margin-bottom: 0;
}
.request-info__adress {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 7px;
}
.request-info__adress:last-child {
  margin-bottom: 0;
}

.request-field {
  margin: 0;
}
.request-field__btn {
  border: 0;
  border-radius: 0;
  min-width: 196px;
  height: 42px;
  background: #000000;
  padding: 0 21px;
  color: #fff;
  line-height: 26px;
  margin-bottom: 28px;
}
.request-field__input {
  width: 70%;
  border: none;
  font-size: 16px;
  margin-top: 7px;
  line-height: 160%;
  outline: none;
}
.request-field__a {
  border-bottom: 2px dashed black;
  text-decoration: none;
  color: black;
}

/* section request *//*# sourceMappingURL=style.css.map */