$color-black: #000000;
$color-grey: #545454;
$gutter-step: 7px;
 
@font-face {
	font-family: 'Rubik';
	src: url("../fonts/static/Rubik-Regular.ttf");
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
}

@font-face {
	font-family: 'Roboto';
	src: url("../fonts/Roboto-Regular.ttf");
	font-weight: regular;
	font-style: normal;
	font-size: 16px;
} 

* {
	box-sizing: border-box;
	font-family:  'Rubik';
}

/* default styles */
main,
section {
	padding: 0 $gutter-step*20;
	@media (max-width: 640px) {
		padding: 0 $gutter-step;
	}
	@media (max-width: 768px) {
		padding: 0 $gutter-step;
	}
	@media (max-width: 1024px) {
		padding: 0 $gutter-step*3;
	}
	@media (max-width: 1279px) {
		padding: 0 $gutter-step*3;
	}
	@media (min-width: 1280px) {
		padding: 0 calc(50vw - 590px);
	}
}

.title {
	font-weight: 400;
	font-size: 64px;
}

.btn {
	border: 0;
	border-radius: 0;
	min-width: $gutter-step*28;
	height: $gutter-step*6;
	background: $color-black;
	padding: 0 $gutter-step*3;
	color: #fff;
	line-height: 26px;
}

a {
	color: black;
	text-decoration: none;
}
/* /default styles */

/* main vacancies-section */
.vacancies-section {
	margin-bottom: $gutter-step*4;
	&__title {
		padding-top: $gutter-step*10;
		margin-bottom: $gutter-step*10;
	}
	&__drop-down-menu {
		position: relative;
		width: 40%;
		min-height: $gutter-step*7;
		margin-bottom: $gutter-step*4;
	}
}
/* /main vacancies-section */

/* main drop-down-menu */
.drop-down-menu {
	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		label {
			display: block;
			margin-bottom: $gutter-step;
		}
	}
	&__img {
		display: inline;
	}
	&__text {
		display: inline;
		margin: 0;
		color: $color-grey;
		margin: $gutter-step 0;
	}
	&__hr {
		margin: 0;
		margin-bottom: $gutter-step*4;
		border-top: 1.5px solid black;
		width: 100%;
	}
	&__list {
		position: absolute;
		width: 100%;
		margin-top: -$gutter-step*4;
		z-index: 10;
		background-color: white;
	}
	@media (max-width: 640px) {
		width: 100%;
	}
}

.click {
	display: none;
}

.rotate  {
	transform: rotate(180deg);
}
/* /main drop-down-menu */

/* main vacancies */
.vacancies-block {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: $gutter-step*38;
	border: 1px solid $color-black;
	margin-bottom: $gutter-step*4;
	&__left-wrapper {
		width: 40%;
		padding: $gutter-step*3;
	}
	&__right-wrapper {
		font-family: 'Roboto';
		width: 60%;
		padding: $gutter-step*3;
	}	
	@media (max-width: 640px) {
		display: block;
		&__left-wrapper {
			width: 100%;
		}
		&__right-wrapper {
			padding: $gutter-step*3;
			width: 100%;
		}
	}
	@media (max-width: 768px) {
		display: block;
		&__left-wrapper {
			width: 100%;
		}
		&__right-wrapper {
			padding: $gutter-step*3;
			width: 100%;
		}
	}
	@media (max-width: 1024px) {
		display: block;
		&__left-wrapper {
			width: 100%;
		}
		&__right-wrapper {
			padding: $gutter-step*3;
			width: 100%;
		}
	}
} 
/* /main vacancies */

/* main vacancies-section left-wrapper */
.vacancies-card {
	&__text{
		margin: 0;
		margin-bottom: $gutter-step*3;
		line-height: 140%;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__label {
		margin-bottom: $gutter-step*3;
		width: $gutter-step*27 ;
		height: $gutter-step*15;
		object-fit: contain;
	}
	&__span {
		color: $color-grey;
	}
	@media (max-width: 640px) {
		&__label {
			width: 90%;
		}
	}
}
/* /main vacancies-section left-wrapper */

/* main vacancies-section right-wrapper */
.vacancies-info {
	&__title {
		margin: 0;
		margin-bottom: $gutter-step;
		font-size: 32px;
	}
	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 8;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	p, 
	strong,
	em {
		font-style: normal;
		font-size: 16px;
		font-weight: 400;
		line-height: 22px;
		margin: 0;
		margin-bottom: $gutter-step;
	}
	ul {
		margin: 0;
		padding-left: $gutter-step*3;
		line-height: 20px;
		margin-bottom: $gutter-step*3;
		li {
			margin-bottom: $gutter-step;
		}	
		strong {
			margin: 0;
			margin-bottom: $gutter-step;
		}
	}	
}
/* /main vacancies-section right-wrapper */

/* main vacancies-section right-wrapper btn more/close */
.moreBtn {
	color: $color-grey;
	font-size: 16px;
	text-align: center;
	margin-top: $gutter-step;
}

.openFullText {
	display: block;
}
/* /main vacancies-section right-wrapper btn more/close */

/* section btn-more-vacancies */
.btn-more-vacancies {
	margin-bottom: $gutter-step*8;
	button {
		margin: 0 auto;
		display: block;
	}
}
/* /section btn-more-vacancies */

/* main and section text style  */
.text {
	&_hr {
		margin: 0;
		margin-bottom: $gutter-step*4;
		width: 80%;
		border-top: 1.5px solid black;
	}

	@media (max-width: 640px) {
		&__hr {
			width: 100%;
		}
		&__input {
			width: 100%;
		}
	}
}	
/* main and section text style  */	

/* section request-section */ 
.request-section {
	margin-bottom: $gutter-step*8;
	&__title {
		margin-bottom: $gutter-step*8;
	}
	@media (max-width: 768px) {
		&__title {
			padding-left: $gutter-step*3;
		}
	}
} 
/* /section request-section */ 

/* section request */
.request {
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: $gutter-step*42.5;
 	&__left-wrapper {
		width: 50%;
		margin-right: $gutter-step*10;
	} 
	&__right-wrapper {
		font-family: 'Roboto';
		width: 30%;
	}	
	@media (max-width: 640px) {
		display: block;
		&__left-wrapper {
			width: 100%;
			margin-bottom: 70px;
		}
		&__right-wrapper {
			width: 100%;
		}
	}
	@media (max-width: 768px) {
		display: block;
		&__left-wrapper {
			width: 100%;
			margin-bottom: $gutter-step*8;
		}
		&__right-wrapper {
			width: 100%;
		}
	}
}

.request-form {
	&__field {
		margin-right: $gutter-step*10;
	}
}

.request-info {
	&__text {
		margin: 0;
		font-weight: 400;
		font-size: 18px;
		line-height: 160%;
		margin-bottom: $gutter-step*10;

	}
	&__contacts {
		margin: 0;
		font-weight: 400;
		font-size: 32px;
		line-height: 24px;
		margin-bottom: $gutter-step;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__adress {
		margin: 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: $gutter-step;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.request-field{
	margin: 0;
	&__btn {
		border: 0;
		border-radius: 0;
		min-width: $gutter-step*28;
		height: $gutter-step*6;
		background: $color-black;
		padding: 0 $gutter-step*3;
		color: #fff;
		line-height: 26px;
		margin-bottom: $gutter-step*4;
	}
	&__input {
		width: 70%;
		border: none;
		font-size: 16px;
		margin-top: $gutter-step;
		line-height: 160%;
		outline: none;
	}
	&__a {
		border-bottom: 2px dashed black;
		text-decoration: none;
		color: black;
	}
}
/* section request */




